.container {
	width: 260px;
	height: 70px;
	margin: auto;
	text-align: center;
}

.container-card {
	height: 70px;
}

.loaded-container .text {
	color: white;
}

.loaded-container .text span {
	display: inline-block;
	vertical-align: middle;
	line-height: 20px;
}
